In [1]:
# Author: Helene Genet, UAF
# Creation date: Jan. 25 2022
# Purpose: this script generates outputs of soil layer variables for standardized depth to facilitate benchmarking and data analysis

import sys
import os
from os.path import exists
import pandas as pd
import datetime
import numpy as np
import xarray as xr
import netCDF4 as nc
import cftime

In [35]:
sc = 'tr'
#inpath = "/data/input-catalog/caribou-poker/"
inpath = '/data/workflows/poker_flats_test/output/'
outpath = "/work/scripts/caribou-poker-exp/soil_layer_synthesis/"
timeres = 'monthly'
var = 'LWCLAYER'
depthlist = [0.05, 0.10, 0.20]

In [40]:
### read the variables passed from the bash


fvar = var + "_" + timeres + "_" + sc + ".nc"
fsoil = "LAYERDZ_monthly_" + sc + ".nc"

ltype = "LAYERTYPE_monthly_" + sc + ".nc"

### read the netcdf output files and compute year from the time dimension
data = xr.open_dataset(os.path.join(inpath + fvar ))
data = data.to_dataframe()
data.reset_index(inplace=True)
data.dtypes
data['time'] = data['time'].astype('|S80')
data['time'] = data['time'].astype('|datetime64[ns]')
data['year'] = data['time'].dt.year
data = data.sort_values(['time','x','y','layer'])


### read the netcdf output files on soil structure and compute year from the time dimension
dz = xr.open_dataset(os.path.join(inpath + fsoil))
dz = dz.to_dataframe()
dz.reset_index(inplace=True)
dz.dtypes
dz['time'] = dz['time'].astype('|S80')
dz['time'] = dz['time'].astype('|datetime64[ns]')
dz['year'] = dz['time'].dt.year
dz = dz.sort_values(['time','x','y','layer'])

### read the netcdf output files on soil structure and compute year from the time dimension
lt = xr.open_dataset(os.path.join(inpath + ltype))
lt = lt.to_dataframe()
lt.reset_index(inplace=True)
lt.dtypes
lt['time'] = lt['time'].astype('|S80')
lt['time'] = lt['time'].astype('|datetime64[ns]')
lt['year'] = lt['time'].dt.year
lt = lt.sort_values(['time','x','y','layer'])
lt = lt[lt['LAYERTYPE'].notna()]
dz=pd.merge(dz, lt[['LAYERTYPE', 'time', 'x', 'y', 'layer']], on=['time','x','y','layer'])

### compute the depth of the bottom of every layers
dz['z'] = dz.groupby(['time','x','y'])['LAYERDZ'].cumsum(axis=0)
dz.head(50)

,time,layer,y,x,LAYERDZ,albers_conical_equal_area,year,LAYERTYPE,z
0,1901-01-01,0,0,1,0.010000,b'',1901,0.0,0.010000
1,1901-01-01,1,0,1,0.030000,b'',1901,1.0,0.040000
2,1901-01-01,2,0,1,0.054554,b'',1901,1.0,0.094554
3,1901-01-01,3,0,1,0.094827,b'',1901,2.0,0.189381
4,1901-01-01,4,0,1,0.100000,b'',1901,3.0,0.289381
5,1901-01-01,5,0,1,0.100000,b'',1901,3.0,0.389381
6,1901-01-01,6,0,1,0.100000,b'',1901,3.0,0.489381
7,1901-01-01,7,0,1,0.100000,b'',1901,3.0,0.589381
8,1901-01-01,8,0,1,0.200000,b'',1901,3.0,0.789381
9,1901-01-01,9,0,1,0.200000,b'',1901,3.0,0.989381
10,1901-01-01,10,0,1,0.200000,b'',1901,3.0,1.189381
11,1901-01-01,11,0,1,0.300000,b'',1901,3.0,1.489381
12,1901-01-01,12,0,1,0.300000,b'',1901,3.0,1.789381
13,1901-01-01,13,0,1,0.300000,b'',1901,3.0,2.089381
14,1901-01-01,14,0,1,0.300000,b'',1901,3.0,2.389381
15,1901-01-01,15,0,1,0.500000,b'',1901,3.0,2.889381
16,1901-01-01,16,0,1,0.500000,b'',1901,3.0,3.389381
17,1901-01-01,17,0,1,1.000000,b'',1901,3.0,4.389381
18,1901-01-01,18,0,1,1.000000,b'',1901,3.0,5.389381
19,1901-02-01,0,0,1,0.010000,b'',1901,0.0,0.010000
20,1901-02-01,1,0,1,0.030000,b'',1901,1.0,0.040000
21,1901-02-01,2,0,1,0.054554,b'',1901,1.0,0.094554
22,1901-02-01,3,0,1,0.094827,b'',1901,2.0,0.189381
23,1901-02-01,4,0,1,0.100000,b'',1901,3.0,0.289381
24,1901-02-01,5,0,1,0.100000,b'',1901,3.0,0.389381
25,1901-02-01,6,0,1,0.100000,b'',1901,3.0,0.489381
26,1901-02-01,7,0,1,0.100000,b'',1901,3.0,0.589381
27,1901-02-01,8,0,1,0.200000,b'',1901,3.0,0.789381
28,1901-02-01,9,0,1,0.200000,b'',1901,3.0,0.989381
29,1901-02-01,10,0,1,0.200000,b'',1901,3.0,1.189381
30,1901-02-01,11,0,1,0.300000,b'',1901,3.0,1.489381
31,1901-02-01,12,0,1,0.300000,b'',1901,3.0,1.789381
32,1901-02-01,13,0,1,0.300000,b'',1901,3.0,2.089381
33,1901-02-01,14,0,1,0.300000,b'',1901,3.0,2.389381
34,1901-02-01,15,0,1,0.500000,b'',1901,3.0,2.889381
35,1901-02-01,16,0,1,0.500000,b'',1901,3.0,3.389381
36,1901-02-01,17,0,1,1.000000,b'',1901,3.0,4.389381
37,1901-02-01,18,0,1,1.000000,b'',1901,3.0,5.389381
38,1901-03-01,0,0,1,0.010000,b'',1901,0.0,0.010000
39,1901-03-01,1,0,1,0.030000,b'',1901,1.0,0.040000
40,1901-03-01,2,0,1,0.054554,b'',1901,1.0,0.094554
41,1901-03-01,3,0,1,0.094827,b'',1901,2.0,0.189381
42,1901-03-01,4,0,1,0.100000,b'',1901,3.0,0.289381
43,1901-03-01,5,0,1,0.100000,b'',1901,3.0,0.389381
44,1901-03-01,6,0,1,0.100000,b'',1901,3.0,0.489381
45,1901-03-01,7,0,1,0.100000,b'',1901,3.0,0.589381
46,1901-03-01,8,0,1,0.200000,b'',1901,3.0,0.789381
47,1901-03-01,9,0,1,0.200000,b'',1901,3.0,0.989381
48,1901-03-01,10,0,1,0.200000,b'',1901,3.0,1.189381
49,1901-03-01,11,0,1,0.300000,b'',1901,3.0,1.489381

In [46]:
### loop through the list of depths of reference to compute the soil variable at that depth via linear interpolation
stdz = []
for i in range(len(depthlist)):
    dpth = depthlist[i]
    print("depth:", dpth,"m")
    # extract the top and bottom layers the closest to the depth of reference
    
    dz['diff'] = dz['z']-float(dpth)
    top = dz.loc[dz[(dz['diff'] <= 0)].groupby(['time','x','y'])['diff'].idxmax()]
    bot = dz.loc[dz[(dz['diff'] >= 0)].groupby(['time','x','y'])['diff'].idxmin()]
    #print(bot['z'])
    
    # select the variable value for each of these top and bottom layers
    datatop = pd.merge(data, top[['time','x','y','layer','LAYERDZ','LAYERTYPE','z']], how="left", on=['layer','time','x','y'])
    datatop = datatop[datatop['z'].notna()]
    datatop = datatop.rename(columns={"layer": "layertop", var: var+"top", "LAYERDZ": "dztop", "z": "ztop", "LAYERTYPE": "typetop"})
    databot = pd.merge(data, bot[['time','x','y','layer','LAYERDZ','LAYERTYPE','z']], how="left", on=['layer','time','x','y'])
    databot = databot[databot['z'].notna()]
    databot = databot.rename(columns={"layer": "layerbot", var: var+"bot", "LAYERDZ": "dzbot", "z": "zbot", "LAYERTYPE": "typebot"})
    # merge the data to do the linear interpolation
    datastdz = pd.merge(datatop, databot, how="outer", on=['time','x','y'])
    print(datastdz)
    datastdz.to_csv(os.path.join(outpath, 'datastdz.csv'))
    datastdz['a'] = (datastdz[var+"top"] - datastdz[var+"bot"]) / (datastdz['ztop'] - datastdz['zbot'])
    datastdz['b'] = datastdz[var+"top"] - (datastdz['a'] * datastdz['ztop'])
    datastdz[var] = (datastdz['a'] * float(dpth)) + datastdz['b']
    datastdz['z'] = float(dpth)
    datastdz['layer'] = i
    datastdz['type'] = datastdz['typebot']
    datastdz = datastdz[['time','x','y','layer','z','type',var]]
    stdz.append(datastdz)
    break

depth: 0.05 m
           time  layertop  y  x  LWCLAYERtop albers_conical_equal_area_x  \
0    1901-01-01         1  0  1     0.000000                         b''
1    1901-02-01         1  0  1     0.000000                         b''
2    1901-03-01         1  0  1     0.000000                         b''
3    1901-04-01         1  0  1     0.004717                         b''
4    1901-05-01         1  0  1     0.131332                         b''
...         ...       ... .. ..          ...                         ...
1375 2015-08-01         1  0  1     0.144559                         b''
1376 2015-09-01         1  0  1     0.208944                         b''
1377 2015-10-01         1  0  1     0.125872                         b''
1378 2015-11-01         1  0  1     0.000000                         b''
1379 2015-12-01         1  0  1     0.000000                         b''

      year_x  dztop  typetop  ztop  layerbot  LWCLAYERbot  \
0       1901   0.03      1.0  0.04         2     0.000000
1       1901   0.03      1.0  0.04         2     0.000000
2       1901   0.03      1.0  0.04         2     0.000000
3       1901   0.03      1.0  0.04         2     0.000000
4       1901   0.03      1.0  0.04         2     0.081896
...      ...    ...      ...   ...       ...          ...
1375    2015   0.03      1.0  0.04         2     0.149827
1376    2015   0.03      1.0  0.04         2     0.196575
1377    2015   0.03      1.0  0.04         2     0.178403
1378    2015   0.03      1.0  0.04         2     0.001083
1379    2015   0.03      1.0  0.04         2     0.000000

     albers_conical_equal_area_y  year_y     dzbot  typebot      zbot
0                            b''    1901  0.054554      1.0  0.094554
1                            b''    1901  0.054554      1.0  0.094554
2                            b''    1901  0.054554      1.0  0.094554
3                            b''    1901  0.054554      1.0  0.094554
4                            b''    1901  0.054554      1.0  0.094554
...                          ...     ...       ...      ...       ...
1375                         b''    2015  0.055743      1.0  0.095743
1376                         b''    2015  0.055743      1.0  0.095743
1377                         b''    2015  0.055743      1.0  0.095743
1378                         b''    2015  0.055743      1.0  0.095743
1379                         b''    2015  0.055743      1.0  0.095743

[1380 rows x 17 columns]

In [44]:
stdz = pd.concat(stdz)

stdz.to_csv(os.path.join(outpath, 'layersytnth.csv'))

In [45]:
stdz

           time  x  y  layer     z  type  LWCLAYER
0    1901-01-01  1  0      0  0.05   1.0  0.000000
1    1901-02-01  1  0      0  0.05   1.0  0.000000
2    1901-03-01  1  0      0  0.05   1.0  0.000000
3    1901-04-01  1  0      0  0.05   1.0  0.003853
4    1901-05-01  1  0      0  0.05   1.0  0.122271
...         ... .. ..    ...   ...   ...       ...
1375 2015-08-01  1  0      0  0.05   1.0  0.145504
1376 2015-09-01  1  0      0  0.05   1.0  0.206726
1377 2015-10-01  1  0      0  0.05   1.0  0.135296
1378 2015-11-01  1  0      0  0.05   1.0  0.000194
1379 2015-12-01  1  0      0  0.05   1.0  0.000000

[1380 rows x 7 columns]